.link-bar {
  padding: 0 30px;
  text-align: right;
  font-size: 20px;
  span {
    margin: 0 8px;
    cursor: pointer;
  }
}

.ant-modal-confirm-info .ant-modal-confirm-body > .anticon {
  color: @primary-color;
}