.data-item {
  .item-avatar {
    float: left;
  }
  .item-title {
    padding-left: 58px;
    h4 {
      line-height: 48px;
      &:hover {
        text-decoration: underline;
        text-decoration-color: @primary-color;
      }
    }
  }
  .item-desc {
    cursor: text;
  }
  .ant-tag {
    cursor: pointer;
    user-select: none;
  }
}
